/**********************************************************************************
	- File Info -
		File name		: admin_pages.css
		Author(s)		: DAVINA Leong Shi Yun
		Date Created	: 12 Dec 2015

	- Contact Info -
		Email	: leong.shi.yun@gmail.com
		Mobile	: (+65) 9369 3752 [Singapore]

	All content © DAVINA Leong Shi Yun. All Rights Reserved.
***********************************************************************************/

/* Navbar */
body
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar
{
    margin-bottom: 20px;
}

#footer
{
    font-style: italic;
    font-size: 10pt;
    color: #ccc;
}

.space
{
    height: 20px;
}

.indent
{
    margin-left: 20px;
}

.search-results
{
    font-size: 10pt;
    font-style: italic;
    text-align: right;
    color: #888;
}
